{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <script src="/public/javascripts/csv-upload/csv-upload.js"></script>
{% endblock %}

{% block pageTitle %}
    Add new schools
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Add new schools
            </h1>
            {{ govukWarningText({
                text: "Only add a new school to this list if they have signed a contract with you.",
                iconFallbackText: "Warning"
            }) }}
            <p><a href="/public/static/ECF-schools-partnerships-template.csv">Download our CSV template</a>

            </p>
            <p>
               Please ensure you have these fields in your CSV file:
            </p>
            <ul>
                <li class="govuk-body-s" style="margin: 0">school URN (unique reference number)</li>
                <li class="govuk-body-s" style="margin: 0">school name</li>
                <li class="govuk-body-s" style="margin: 0">school address</li>
                <li class="govuk-body-s" style="margin: 0">school point of contact name</li>
                <li class="govuk-body-s" style="margin: 0">school point of contact email address</li>
                <li class="govuk-body-s" style="margin: 0">estimated number of ECTs (Early Career Teachers or NQTs</li>
                <li class="govuk-body-s" style="margin: 0">delivery partner</li>
            </ul>
            {{ govukFileUpload({
                id: "file-upload-1",
                name: "file-upload-1",
                label: {
                    text: "Upload file"
                }
            }) }}

            <p id="loading-message"></p>
            <button class="govuk-button" id="upload-button">Upload CSV</button>
        </div>
    </div>

{% endblock %}
