{% extends "layout.html" %}
{% block pageTitle %}
    Upload schools
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
        text: "Back",
        href: "/declare-partnership/multiple/success-journey/supplier-landing"
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Schools added",
                html: "<strong>10</strong> Details of your school contracts have been submitted to DfE"
            }) }}

            {% set uploadedTable %}
            {{ govukTable({
                firstCellIsHeader: false,
                head: [
                    {
                        text: "School name"
                    },
                    {
                        text: "School URN"
                    }
                ],
                rows: [
                    [
                        {
                            text: "Corfe Hills School"
                        },
                        {
                            text: "123456"
                        }
                    ],
                    [
                        {
                            text: "Broadstone Middle School"
                        },
                        {
                            text: "141184"
                        }
                    ],
                    [
                        {
                            text: "Rushmoor School"
                        },
                        {
                            text: "124476"
                        }
                    ],
                    [
                        {
                            text: "Rushcombe First School"
                        },
                        {
                            text: "145857"
                        }
                    ],
                    [
                        {
                            text: "Lockyers Middle School"
                        },
                        {
                            text: "123456"
                        }
                    ],
                    [
                        {
                            text: "Springdale First School"
                        },
                        {
                            text: "529728"
                        }
                    ],
                    [
                        {
                            text: "Parkstone Grammar School"
                        },
                        {
                            text: "123456"
                        }
                    ],
                    [
                        {
                            text: "Archbishop Tenison's School"
                        },
                        {
                            text: "145857"
                        }
                    ],
                    [
                        {
                            text: "Millbank Academy"
                        },
                        {
                            text: "138683"
                        }
                    ],
                    [
                        {
                            text: "City of Leeds School"
                        },
                        {
                            text: "127954"
                        }
                    ]
                ]
            }) }}
            {% endset -%}
            <h2 class="govuk-heading-m">Schools uploaded</h2>
            {{ govukDetails({
                summaryText: "Show all 10 schools",
                html: uploadedTable
            }) }}
            <h2 class="govuk-heading-m">What happens next</h2>
            <p>DfE will contact these schools to confirm your contract.</p>
            <p>Your school contracts will update immediately. You will see that schools are confirmed or they are still 'pending' (they need to confirm).
              We recommend that you remind schools to confirm your contract as soon as possible.
</p>

<p><a href="/your-partnerships">See your school contracts</a></p>
        </div>
    </div>

{% endblock %}
