{% extends "layout.html" %}


{% block pageTitle %}


    Add new schools
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
        tag: {
            text: "prototype"
        },
        html: 'This is a new service – your feedback will help us to improve it.'
    }) }}
    {{ govukBackLink({
            text: "Back to dashboard",
            href: "/supplier-landing"
        }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Add partnerships
            </h1>

                  <p>There are two ways that you can add new schools and update DfE on your new contracts.</p>
                  <br>
                  <h2><a href="/declare-partnership/single">Add each school using an online form             
                   </a></h2>
                  <h2><a href="/declare-partnership/multiple">Add multiple schools by uploading a CSV file</a></h2>
                 

        </div>
    </div>

{% endblock %}
