<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% extends "layout.html" %}

        {% block pageTitle %}
            Declare a partnership
        {% endblock %}

        {% block content %}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">
                        Declare a partnership with schools
                    </h1>
                    
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            <a href="/declare-partnership/single">Single school</a>
                        </li>
                        <li>
                            <a href="/declare-partnership/multiple">Multiple schools</a>
                        </li>
                    </ul>
                </div>
            </div>

        {% endblock %}
    </title>
</head>
<body>

</body>
</html>
