{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/supplier-landing.css"/>
    {{ super() }}
{% endblock %}

{% block pageTitle %}
    Supplier Landing Page
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Lead Provider name
            </h1>
            <div class="boxed-card">
                <a class="govuk-heading-m" href="/school-search">Find schools</a>
                <p>
                   Search for schools you want to recruit, in any area, across England.
                </p>
            </div>
            <div class="boxed-card">
                <a class="govuk-heading-m" href="/declare-partnership">Add new schools</a>
                <p>
                    You must update the Department for Education when you have signed a contract with a school.
                </p>
            </div>
            <div class="boxed-card">
                <a class="govuk-heading-m" href="./your-partnerships">Your school contracts</a>
                <p>
                    Check on your schools that are still pending or have confirmed their contracts.
                </p>
            </div>
        </div>
    </div>

{% endblock %}
