{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/public/stylesheets/supplier-landing.css"/>
    {{ super() }}
{% endblock %}

{% block pageTitle %}
    Supplier Landing Page
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Lead Provider name
            </h1>
            <div class="boxed-card">
                <a class="govuk-heading-m" href="/school-search">Find schools</a>
                <p>
                   Browse schools in your area and across England.
                </p>
            </div>
            <div class="boxed-card">
                <a class="govuk-heading-m" href="/declare-partnership">Tell DfE who you've partnered with</a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>

{% endblock %}
