<h2 class="govuk-heading-m">Filter Schools</h2>
{{ govukButton({
    text: "Apply filters",
    name: "apply-school-filters"
}) }}

{{ govukInput({
    label: {
        text: "School name",
        classes: "govuk-label--s",
        isPageHeading: false
    },
    id: "school-name",
    name: "school-name"
}) }}

{{ govukInput({
    label: {
        text: "Location",
        classes: "govuk-label--s",
        isPageHeading: false
    },
    hint: {
        text: "Enter a postcode, town or region"
    },
    id: "school-location-name",
    name: "school-location-name"
}) }}

<div class="govuk-form-group">
    <label class="govuk-hint" for="sort">
        Search distance
    </label>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <select class="govuk-select" id="sort" name="sort" style="width: 100%">
                <option value="published">50</option>
            </select>
        </div>
        <div class="govuk-grid-column-one-half">
            <select class="govuk-select" id="sort" name="sort" style="width: 100%">
                <option value="published">miles</option>
            </select>
        </div>
    </div>
</div>

{{ govukCheckboxes({
    idPrefix: "characteristic",
    name: "characteristic",
    fieldset: {
        legend: {
            text: "Characteristic",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
        }
    },
    items: [
        {
            value: "pupil-premium",
            text: "Pupil premium above 40%"
        },
        {
            value: "rural",
            text: "Located in top 20% remotest areas"
        }
    ]
}) }}

{{ govukCheckboxes({
    idPrefix: "phase",
    name: "phase",
    fieldset: {
        legend: {
            text: "Phase",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
        }
    },
    items: [
        {
            value: "nursery",
            text: "Nursery"
        },
        {
            value: "primary",
            text: "Primary"
        },
        {
            value: "secondary",
            text: "Secondary"
        },
        {
            value: "middle",
            text: "Middle"
        },
        {
            value: "sixth-form-fe",
            text: "Sixth form and FE"
        }
    ]
}) }}

{{ govukCheckboxes({
    idPrefix: "school-type",
    name: "school-type",
    fieldset: {
        legend: {
            text: "Type",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
        }
    },
    items: [
        {
            value: "academy",
            text: "Academy"
        },
        {
            value: "maintained",
            text: "Maintained"
        },
        {
            value: "free-school",
            text: "Free School"
        },
        {
            value: "special",
            text: "Special"
        },
        {
            value: "other",
            text: "Other"
        }
    ]
}) }}

{{ govukCheckboxes({
    idPrefix: "partnership-status",
    name: "partnership-status",
    fieldset: {
        legend: {
            text: "Partnership Status",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
        }
    },
    hint: {
        text: "Select all that apply."
    },
    items: [
        {
            value: "alreadyPartnered",
            text: "Show schools partnered with another provider"
        },
        {
            value: "partnershipPending",
            text: "Show our pending partnerships"
        },
        {
            value: "partnershipConfirmed",
            text: "Show our confirmed partnerships"
        }
    ]
}) }}
