{% extends "layout.html" %}

{% block pageTitle %}
    Add new schools
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/declare-partnership"
    }) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Add new schools
            </h1>
            {{ govukWarningText({
                text: "Only add a new school to this list if they have signed a contract with you.",
                iconFallbackText: "Warning"
            }) }}
            <form action="/declare-partnership/single/success" method="post" class="form">
                {{ govukInput({
                    name: "declare-partnership-school-name",
                    label: {
                        text: "School name",
                        classes: "govuk-label--s",
                        isPageHeading: false
                    }
                }) }}
                {{ govukInput({
                    name: "declare-partnership-school-urn",
                    label: {
                        text: "School URN",
                        classes: "govuk-label--s",
                        isPageHeading: false
                    }
                }) }}
                {{ govukInput({
                    name: "declare-partnership-poc-name",
                    label: {
                        text: "Point of contact name",
                        classes: "govuk-label--s",
                        isPageHeading: false
                    }
                }) }}
                {{ govukInput({
                    name: "declare-partnership-poc-email",
                    label: {
                        text: "Point of contact email address",
                        classes: "govuk-label--s",
                        isPageHeading: false
                    }
                }) }}
                <label class="govuk-label govuk-label--s">
                    Estimated ECTs for 2021
                </label>
                <div class="govuk-grid-row">
                    {{ govukInput({
                        name: "declare-partnership-ECT-num",
                        formGroup: { classes: "govuk-grid-column-one-quarter" }
                    }) }}
                </div>

                {{ govukRadios({
                    name: "declare-partnership-dp-name",
                    fieldset: {
                        legend: {
                            text: "Choose delivery partner",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: [
                        {
                            value: "1",
                            text: "Cornwall Early Years Teaching School",
                            hint: { text: "Truro Nursery School, Higher Trehaverne, Truro, Cornwall, TR1 3RJ" }
                        },
                        {
                            value: "2",
                            text: "Ambitions Teaching School Bournemouth",
                            hint: { text: "Petersfield Road, Bournemouth, Dorset. BH7 6QP" }
                        },
                        {
                            value: "3",
                            text: "St Matthew's Research School",
                            hint: { text: "Duddeston Manor Rd, Birmingham B7 4JR" }
                        },
                        {
                            value: "4",
                            text: "Denbigh Teaching School",
                            hint: { text: "Burchard Crescent, Shenley Church End, Milton Keynes, MK5 6EX" }
                        },
                        {
                            value: "5",
                            text: "Copthorne primary school and exceed academies trust",
                            hint: { text: "All Saints Rd, Bradford BD7 3AY" }
                        },
                        {
                            value: "6",
                            text: "Eleanor Palmer Primary School",
                            hint: { text: "5 Pancras Square, Kings Cross, London N1C 4AG" }
                        },
                        {
                            value: "7",
                            text: "The Peninsula Teaching School",
                            hint: { text: "Pool Academy, Church Road, Pool, Redruth TR15 3PZ" }
                        },
                        {
                            value: "8",
                            text: "Lambeth Teaching Schools' Alliance",
                            hint: { text: "Vauxhall Primary School, Vauxhall St, Vauxhall, London SE11 5LG" }
                        }
                    ]
                }) }}
                {% block submitButton %}
                    <button class="govuk-button" data-module="govuk-button">Add school</button>
                {% endblock %}
            </form>
        </div>
    </div>

{% endblock %}
