{% extends "layout.html" %}

{% block pageTitle %}
    Add new school
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "/declare-partnership"
    }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "School added",
                html: "Details of your school contract " + data["declare-partnership-school-name"] + " have been submitted to DfE"
            }) }}

            <h2 class="govuk-heading-m">What happens next</h2>
            <p>DfE will contact these schools to confirm your contract.</p>
            <p>Your school contracts will update immediately. You will see that schools are confirmed or they are still 'pending' (they need to confirm).
              We recommend that you remind schools to confirm your contract as soon as possible.</p>

            <div>
                {{ govukButton({
                    text: "Add another school",
                    href: "./repeat"
                }) }}
                <span class="govuk-body govuk-!-margin-left-3">or
                    <a href="/declare-partnership/multiple/success-journey/supplier-landing">See your contracts</a>
                </span>
            </div>
        </div>
    </div>

{% endblock %}
