
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h3 class="govuk-heading-m">Demo Email</h3>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <p><strong> Email subject: Your ECF provider dashboard</strong></p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p>Dear provider,</p>


<p>You can now use the Early Career Framework provider dashboard to <strong>find schools to recruit</strong> and <strong>update us on your new contracts</strong></p>

<p><strong>What you can do</strong></p>
  <ul class="govuk-list govuk-list--bullet">
    <li>search for schools and school groups (like multi academy trusts or federations)</li>
    <li>find schools by location </li>
    <li>target schools that are remote or have a pupil premium over 40%</li>
    </ul>

<p><strong>And when you’ve signed a contract with a school...</strong></p>
<ul class="govuk-list govuk-list--bullet">
<li>add your new contract details to ECF</li>
<li>this will update your dashboard and school search. You can see who has confirmed a contract and who is still available </li>
</ul>


<p><a href="/supplier-landing">Get started</a><p>

<p><strong>Questions?</strong></p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href=".">find out more about ECF</a></li>
  <li> contact: <a href=".">etc@dfe.gov.uk</a></li>
  </ul>


<p>Best Regards, <br>
Department for Education</p>







  </div>
</div>

{% endblock %}
